.input {
    position: relative;

}

.inputBox {
    width: 400px;
    padding: 20px 20px;
    font-size: 25px;
    transition: 0.2s;
    margin: auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.submitButton {
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 25px;
    border-color: green;
    background-color: green;
    transition-duration: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.submitButton:hover {
    padding: 20px 20px;
    background-color: white;
    color: black;
}

.heroHeading {
    font-size: 60px;
    text-align: center;
    background-color: #e7e7e7;
    width: 100%;
    padding: 30px 0px 30px 0px;
    font-family: 'Montserrat', sans-serif;
}

.timeDescription {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
}