.calcPage {
  text-align: Center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.authPage {
  text-align: Center;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}